<a href="https://colab.research.google.com/github/theharshkwatra/Python-Basics/blob/main/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Assignment-01 (Python Assignment Basics)**

---



1.   Ques 1.

In [3]:
L = [11, 12, 13, 14]
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

In [4]:
del L[0]
print(L)
del L[1]
print(L)

[12, 13, 14, 50, 60]
[12, 14, 50, 60]

In [5]:
L.sort()
print(L)

[12, 14, 50, 60]

In [6]:
L.sort(reverse = True)
print(L)

[60, 50, 14, 12]

In [7]:
if 13 in L:
  print("13 is present in L")
else:
  print("13 is not present in L")

# Alternative

print("13 in L: ", 13 in L)

13 is not present in L
13 in L:  False

In [8]:
print("Number of elements present in L: ", len(L))

Number of elements present in L:  4

In [9]:
s = 0
for i in range(0,len(L)):
  s = s + L[i]
print(s)

136

In [10]:
print(L)
even_sum = 0
odd_sum = 0
for i in range(0,len(L)):
  if L[i] % 2 == 0:
    even_sum = even_sum + L[i]
  else:
    odd_sum = odd_sum + L[i]
print(even_sum)
print(odd_sum)

[60, 50, 14, 12]
136
0

In [11]:
prime_sum = 0
for i in range(0,len(L)):
  for j in range(2, L[i]//2 + 1):
      if L[i] % j == 0:
        break
      else:
        prime_sum = prime_sum + L[i]

print(prime_sum)

0

In [12]:
L.clear()
print(L)

[]

In [13]:
del L
print(L)  # Error

NameError: name 'L' is not defined


2.   Ques 2.

In [14]:
D = {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7}

In [15]:
D[8] = 8.8
print(D)

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [16]:
del D[2]
print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [17]:
if 6 in D:
  print("6 is present in D")
else:
  print("6 is not present in D")

6 is not present in D

In [18]:
print("Number of elements present in D: ", len(D))

Number of elements present in D:  5

In [19]:
dic_sum = 0
for i in D:
  dic_sum = dic_sum + D[i]
print(dic_sum)

37.4

In [20]:
D[3] = 7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [21]:
D.clear()
print(D)

{}

3. Ques 3.

In [22]:
S1 = {10, 20, 30, 40, 50, 60}
S2 = {40, 50, 60, 70, 80, 90}
print(type(S1))
print(type(S2))

<class 'set'>
<class 'set'>

In [23]:
S1.add(55)
print(S1)
S1.add(66)
print(S1)

{50, 20, 55, 40, 10, 60, 30}
{50, 66, 20, 55, 40, 10, 60, 30}

In [24]:
S1.remove(10)
print(S1)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60, 30}
{50, 66, 20, 55, 40, 60}

In [25]:
if 40 in S1:
  print("40 is present in S1")
else:
  print("40 is not present in S1")

40 is present in S1

In [26]:
print(S1.union(S2))

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [27]:
print(S1.intersection(S2))

{40, 50, 60}

In [28]:
print(S1 - S2)

# Alternative

print(S1.difference(S2))

{66, 20, 55}
{66, 20, 55}

4. Ques 4.

In [90]:
import random as r
import uing as s
for i in range(0,101):
  k = r.randint(6, 8)
  a = r.sample(s.ascii_letters, k)
  a_updated = "".join(a)
  print(a_updated)

CrTiUnq
qgswiL
vukQoXre
NDFMfVO
OLVuCW
KDclEfg
GbBocxI
KmNPfj
YvOXZhw
AZVIlU
iWthUcZ
kqOlQhZ
VNtfLH
DHjkzNwU
BDqYXK
MhUXgpmR
mqCiUS
wpoFDI
rVIfMd
qNGLRSfW
jKYADQqU
NrCYUg
QIBNqSu
hFEUiO
qtMKXWaC
SgVKMeF
jOnUDEB
NVGpxAvL
KIenod
dKbrHwG
lJXIof
RygHjTf
mqtodn
uyCdiEoO
irfxQZYE
TVlNvci
GatPRsg
ofvIxtiU
ctLGbynl
JrbXmQ
tmbvDuaq
HfDIxTzA
DQfJSMGi
fzwPRTkB
vkCmPulF
wGSrqRQF
agIcGASl
oiPqjpXS
VNWTDK
nHQbUr
sApthz
FaEBDjRW
QGZTxA
uqfOmDcy
WoimslQ
ECjtil
XMLvIxRd
KcGqWPio
FlPVuQgJ
crYiIMGZ
AauQXGI
NtuZkJ
MRANuq
DtnfwVOs
COVFnXd
wVjYelm
macOEkZ
lGaHALvs
BwqEZlQ
QYsieH
ZiygOnT
FlSEVM
iMFIxTQ
KPjIMWE
WicRFu
xvrnguC
rpGNVEF
OmxArs
phdXGv
yEFATq
ryYOcw
MGvrpd
JGACXkhm
sgSUezOY
XGVRNch
RmXgzb
zbLXrJ
ryLKxFE
SKBLwD
zaDMYbj
LjcuRqtC
okPxMQcu
cUQjxu
DRXLEpdO
KlbLtDn
nXwIsYC
xefALCns
tOgLzs
fJvxcgK
fUznTL
ZsNADpf

**Important Concept (change f = 0 again)**

In [30]:
for j in range(601, 800):
  f = 0
  for i in range(2, j//2 + 1):
    if j % i == 0:
      f = 1
      break

  if f == 0:
    print(j)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [31]:
for i in range(101,1000):
  if i % 7 == 0 and i % 9 == 0:
    print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

5. Ques 5.

In [32]:
import random as r
L1 = [r.randint(10,30) for i in range(0,10)]
print(L1)
L2 = [r.randint(10,30) for i in range(0,10)]
print(L2)

[14, 14, 23, 24, 22, 30, 16, 14, 22, 29]
[22, 27, 24, 20, 17, 21, 10, 29, 12, 11]

In [33]:
S1 = set(L1)
S2 = set(L2)

In [34]:
print(list(S1.intersection(S2)))

[24, 29, 22]

In [35]:
print(list(S1.symmetric_difference(S2)))

[10, 11, 12, 14, 16, 17, 20, 21, 23, 27, 30]

In [36]:
print("Minimum in first list: ", min(L1))
print("Minimum in first list: ", min(L2))

Minimum in first list:  14
Minimum in first list:  10

In [37]:
print("Maximum in first list: ", max(L1))
print("Maximum in first list: ", max(L2))

Maximum in first list:  30
Maximum in first list:  29

In [39]:
L3 = sum(L1) + sum(L2)
print(L3)

401

Ques 6.

In [42]:
L4 = [r.randint(100,900) for i in range(0,100)]
print(L4)

[797, 388, 149, 396, 566, 872, 555, 749, 657, 156, 481, 778, 510, 287, 850, 703, 573, 588, 258, 308, 131, 282, 887, 738, 670, 857, 342, 729, 811, 479, 737, 100, 184, 536, 630, 859, 870, 611, 464, 887, 514, 585, 181, 220, 416, 771, 707, 434, 801, 721, 251, 154, 354, 556, 158, 492, 374, 393, 332, 740, 752, 299, 890, 516, 245, 591, 476, 633, 380, 546, 302, 836, 662, 396, 873, 376, 121, 406, 480, 874, 266, 886, 512, 533, 770, 290, 416, 542, 166, 298, 399, 156, 439, 769, 807, 349, 785, 500, 843, 735]

In [43]:
count_even = 0
for ele in L4:
  if ele % 2 == 0:
    count_even = count_even + 1
    print(ele)

print("The number of even numbers are", count_even)

388
396
566
872
156
778
510
850
588
258
308
282
738
670
342
100
184
536
630
870
464
514
220
416
434
154
354
556
158
492
374
332
740
752
890
516
476
380
546
302
836
662
396
376
406
480
874
266
886
512
770
290
416
542
166
298
156
500
The number of odd numbers are 58

In [44]:
count_odd = 0
for ele in L4:
  if ele % 2 != 0:
    count_odd = count_odd + 1
    print(ele)

print("The number of odd numbers are", count_odd)

797
149
555
749
657
481
287
703
573
131
887
857
729
811
479
737
859
611
887
585
181
771
707
801
721
251
393
299
245
591
633
873
121
533
399
439
769
807
349
785
843
735
The number of odd numbers are 42

In [47]:
count_prime = 0
for ele in L4:
  f = 0
  for k in range(2, ele//2 + 1):
    if ele % k == 0:
      f = 1
      break
    else:
      f = 0

  if f == 0:
    print(ele)
    count_prime = count_prime + 1

print("The number of prime numbers are", count_prime)

797
149
131
887
857
811
479
859
887
181
251
439
769
349
The number of prime numbers are 14

Ques 7.

In [78]:
D = {1:"One", 2:"Two", 3:"Three", 4:"Four", 5:"Five"}
print(D)

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [120]:
for i in D.keys():
  print(i, ",", D[i]) # Convert key and value to uing separately and concatenate.

1 , One
2 , Two
3 , Three
4 , Four
5 , Five

In [59]:
# Alternative
import  pandas as pd
pd.DataFrame(D.values(), D.keys())

       0
1    One
2    Two
3  Three
4   Four
5   Five

Ques 8.

In [115]:
L = ["One", "Two", "Three", "Four", "Five"]
print(L)

['One', 'Two', 'Three', 'Four', 'Five']

In [118]:
for i in range(0,len(L)):
  a = len(L[i])
  print(L[i] + ",", a)

One, 3
Two, 3
Three, 5
Four, 4
Five, 4

In [124]:
import random as r
import string as s
for i in range(0, 100):
  k = r.randint(10,15)
  st = (r.sample(s.ascii_letters, k))
  st = "".join(st)
  print(st)

MtvJpEIsrVkwqH
kvAPcNYsTdD
pGOjDCVotaMSN
HxXNTEascO
qMUTgrLyISb
DrhsgARkLYn
fhWEcNGSvqXKVZw
QxmRXyzPehbkBC
BzKYqnDJOV
YqftPuObgZd
navTPKQxHplcD
ERhfcWrQIzka
zCgutZEpNRTY
mRNDJHtsCaV
eCiTHafXQJZy
SLEKaBMGtwZ
LiqMgRBtaFf
ixfdXWrHTe
lFbRrGWSNIs
DuqCWzNYZGvPSO
iAXDysblxJQvYBj
aewEGqzvJXc
zXMsKhFRbg
CIoTpNmljYDwUz
FTwHnSvXftr
lfAygsOIWLF
RYQXVJuUnPGH
OenVWPIcSxi
VrKpYJtfWBh
ZwjUBINoyQGHT
tojwBixRDAfyOp
xSXZOqgUuvDVplG
WenlLOxirZBTM
cTXYlEbzrRmfSD
XlwKTzbSOGpm
IOjPRMtnDJdmka
iRYvJNezgcXyaTM
CAOVxhkUnZbIy
fxAZpgvkNtOH
WCpxzkTweHLR
THdFibGIfD
dLvaEKsTPQBf
YoRCFXkWvyKHJ
KyLNbOZJPmSaQo
lqLpsiPFCI
eUiVmgITDMro
ySabYXRPqz
ohZMytEUxICd
jhMZxPELudTsSw
tQmMZwkWNpHo
HCkLqGDgXnQcyNE
tHWjNkRmbSCLOyA
jhsHLkQeRFJuW
frnUKbtZPJgcaW
qWEYBpFRKDvVG
cnsNoBUGZS
LWXEUPcsHpTVje
wcAklUuYJiFjO
xSXdOkFqUKZyQMc
PVpNhXrvqEOzUl
cjYgBIhdPwMAEn
xisquYdbwIKFlW
uKyLinEWhl
aPTMBzEWGr
cDGCupzXIEwTKW
IWeVtpSbRLEKcn
HhlgwjOKMe
QhHLkrPwRniebAf
MjmwnhgbflvaYiD
lKMwgVpDkEZ
atHPxWZeYnKLsh
bBvXSHWIahiPuoL
aiDQyxVZqYdJjR
HGuJvVfioCUhl
cyRJANsezpZ
fwAjkZGavPDd
oSXPqpshLTDO
ZoRJtkiPFpD
SxYHthkKWmAbP
piLIHUXYtSQ
frXoYskLOKmFa
yfvBZOJFYDjIKT
qQpCKUOlVxBwGXn
GUaqlTxVBKhd
xpFzAkDBweshdR
LIuZlKVeCHmJyw
MWYsernQcUXxRd
wRigQVZOnPcUDa
RZtEHfwivdNkSOA
cvZJTiPFAhaDl
qVpXuzLaKN
XqGanyUvCpxQON
kqYMlUKeasx
mzPNfWwsJYBjQth
OtdcFKCbZEJUkTz
GocMEpChatwVU
XexLnUiOqTsMF
vzGhFKUyVX
kiHbXGVfBFEN
SujXGqakhwLe

In [125]:
for i in range(600, 800):
  f = 0
  for j in range(2, i//2 + 1):
    if i % j == 0:
      f = 1
      break

  if f == 0:
    print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [130]:
import time

start_time = time.time()

for i in range(600, 800):
  f = 0
  for j in range(2, i//2 + 1):
    if i % j == 0:
      f = 1
      break

  if f == 0:
    print(i)

end_time = time.time()

time_taken = end_time - start_time
print(time_taken)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
0.012075662612915039

In [138]:
import time

L6 = [[r.randint(0,1000) for i in range(0,5000)],
      [r.randint(0,1000) for i in range(0,10000)],
      [r.randint(0,1000) for i in range(0,15000)],
      [r.randint(0,1000) for i in range(0,20000)],
      [r.randint(0,1000) for i in range(0,25000)]]

start_time = time.time()

for sublist in L6:
  sublist.sort()

end_time = time.time()

time_taken = end_time - start_time
print(time_taken)

0.013270378112792969

In [164]:
L7 = [{"Maths":50, "Physics":90, "Chemistry":44, "Physical_education":78, "English":89},
      {"Maths":66, "Physics":70, "Chemistry":84, "Physical_education":78, "English":69},
      {"Maths":57, "Physics":96, "Chemistry":47, "Physical_education":18, "English":99}]
L8 = []
for dic in L7:
  avg = (sum(dic.values()))/len(dic)
  L8.append(avg)

print(max(L8))
print(min(L8))

73.4
63.4

In [151]:
print(len(dic))
print(len(dic.keys()))

5
5